.registrationForm {
    width: 100%;
    height: 100%;
    background-color: #D5FF03;
}

.registrationForm_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

@media (max-width: 800px) {
    .logotype {
        height: 300px;
        width: 250px;
    }
}