.code_box {
    font-family: 'Formular';
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Formular';
    font-size: 20px;
    height: 60px;
    padding: 20px;
    color: #333;
    background-color: #fff;
}

.code_box:focus {
    border: 1px solid #ccc;

}