
.menuOverlay {
    position: fixed;
    top: 0;
    left: 0%; /* Начало overlay с правой стороны меню */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    cursor: pointer;
  }


.leftMenu_side_wrapper{
    height: 100%;
}

.leftMenu_side{
    width: 25%;
}

.userSettingsForm{
    width: 100%; /* Заполнение всей ширины контейнера */
    height: 100%; /* Заполнение всей высоты контейнера */
    min-height: 100%;
    min-width: 100%;
    overflow-y: auto;
    background-color: #181818;
    overflow: visible;

}

.userSettingsForm_wrapper{
    min-height: 100%;
    min-width: 100%;
    width: 100%; /* Заполнение всей ширины контейнера */
    height: 100%; /* Заполнение всей высоты контейнера */
    display: flex;
    overflow: visible;

    overflow-y: auto;

}

.logotype{
    user-select: none;
    pointer-events: none;
}

.userSettingsForm_wrapper{
    display: flex;
}

.userSettingsForm_fields{
    min-width: 70%;
    width: 70%; 
    min-height: 650px;

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    overflow: visible;

}

.userSettingsForm_header h1{
    text-align: center;
    width: 450px;
    font-family: 'Ultramono Wide Black';
    font-weight: 900;
    font-size: 36px;
    line-height: 24px;
    color: #D5FF03;
    margin-bottom: 4%;
    line-height: 100%;
}

.userSettingsForm_field__input{
    padding: 16px;
    padding-left: 50px;
    width: 300px;
    background-color: #181818;
    color: #515151;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 1px solid #F6F6F6;
    position: relative;
    overflow: visible;


}

.deleteInput{
    padding: 16px;
    padding-left: 50px;
    width: 330px;
    background-color: #181818;
    color: #515151;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 1px solid #F6F6F6;
    position: relative;
    overflow: visible;


}


.userSettingsForm_field{
    position: relative;
}

.userSettingsForm_field_image__mail{
    user-select: none;
    position: absolute;
    left: 20px;
    top: 17px;
    z-index: 2;
}

.userSettingsForm_field__input__password{
    padding: 16px;
    padding-left: 50px;
    width: 300px;
    border-radius: 5px;
    background-color: #181818;
    color: #515151;
    font-size: 16px;
    border: 1px solid #F6F6F6;
    position: relative;
    outline:none;

}

.userSettingsForm_field__password{
    position: relative;
}

.userSettingsForm_field_image {
    user-select: none;
    position: absolute;
    left: 20px;
    top: 15px;
    z-index: 2;
}

.userSettingsForm_field_image svg {
    width: 100%; /* Заполнение всей ширины контейнера */
    height: 100%; /* Заполнение всей высоты контейнера */
}

.userSettingsForm_field_imageEye {
    user-select: none;
    position: absolute;
    right: 15px;
    top: 18px;
    cursor: pointer;
}

.userSettingsForm_field_imageEye svg {
    fill: #666;
    width: 100%; /* Заполнение всей ширины контейнера */
    height: 100%; /* Заполнение всей высоты контейнера */
}

.userSettingsForm_button_wrapper{
    margin-top: 5%;
}

.userSettingsForm_button{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #181818;
    color: #D5FF03;
    line-height: 27px;
    font-family: 'Formular';
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #D5FF03 ;
    width: 330px;
    padding: 15px;
    border-radius: 35px; 
}

.userSettingsForm_button:hover{
    background-color: #D5FF03;
    color: black;
}

.userSettingsForm_field__hasAccount{
    margin-bottom: 30px;
}

.userSettingsForm_field__hasAccountText{
    color: white;
    margin-right: 10px;
    font-family: 'Formular';
    font-size: 18px;
    font-weight: 200;
}

.userSettingsForm_field__hasAccountLink{
    color: #D5FF03;
    margin-right: 10px;
    font-size: 18px;
    font-family: 'Formular';
    text-decoration: none;
    border-bottom: 1px solid #D5FF03;
}

a {
    text-decoration: none;
}



.error {
    border: 1px solid #FF0000;
}

.deleteAccount{
    color: #FF0000;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    margin-top: 6%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

}


.deleteAccount:hover{
    color: #FF0000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    text-decoration: underline;
}

.error_message {
    color: #FF0000;
    font-size: 12px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.userSettingsForm_field{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.userSettingsForm_field__password{
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.passwordCharsCount{
    color: #515151;
    font-size: 16px;
    font-family: 'Formular';
}
.password_form__bottom{
    display: flex;
    justify-content: space-between;
}

.password_form__bottom > :first-child {
    order: 1; /* Гарантирует, что первый элемент всегда будет первым */
}

.password_form__bottom > :last-child {
    order: 2; /* Гарантирует, что последний элемент всегда будет последним */
    margin-left: auto; /* Прижимает элемент к правому краю */
}



@media (max-width: 900px) {
    .logotype{
        display: none;
    }

    .userSettingsForm_field__hasAccount{
        margin-bottom: 40px;
    }

    .userSettingsForm_header h1{
       font-size: 28px;
    }
    
    .userSettingsForm_wrapper{
        gap: 0%;

    }
}


@media (max-width: 700px) {
    .logotype{
        display: none;
    }

    .userSettingsForm_field__hasAccount{
        margin-bottom: 40px;
    }

    .userSettingsForm_header h1{
       font-size: 20px;
       width: 250px;
    }

    .userSettingsForm_button{
        width: 250px;
        padding: 10px;
    }
    
    .userSettingsForm_wrapper{
        gap: 0%;
    

    }
        
    .userSettingsForm_button_wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .userSettingsForm_field__input{
        width: 250px;
        font-size: 14px;
    }

    .deleteInput{
        width: 250px;
        font-size: 12px;
        padding-left: 35px;
    }
}

@media (max-width: 450px) {
    .logotype{
        display: none;
    }

    .userSettingsForm_field__hasAccount{
        margin-bottom: 40px;
    }

    .userSettingsForm_header h1{
       font-size: 20px;
       width: 230px;
    }

    .userSettingsForm_button{
        width: 200px;
    }
    
    .userSettingsForm_wrapper{
        gap: 0%;
    

    }
        
    .userSettingsForm_button_wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .userSettingsForm_field__input{
        width: 200px;
        font-size: 14px;
    }

    .deleteInput{
        width: 200px;
        font-size: 10px;
        padding-left: 35px;
        padding-bottom: 8px;
    }
}


@media (max-width: 800px) {

    .userSettingsForm_wrapper{
        width: 100%;
    }

    .userSettingsForm_fields{
        width: 100%;
    }

    .burgerMenuIcon {
        display: none;
        cursor: pointer;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 20px;
        position: absolute;
        top: 20px;
        left: 20px;
      }
      
      .burgerLine {
        width: 100%;
        height: 3px;
        background-color: white;
      }
      
      /* Скрываем левое меню по умолчанию */
      .leftMenu_side {
        width: 0;
        overflow: hidden;
        height: 100%;
        background-color: #181818;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        transition: width 0.3s ease; /* Плавный переход */
      }
      
      .menuOpen {
        width: 35%; /* Меню выезжает на 70% экрана */
      }
    .burgerMenuIcon {
      display: flex;
    }
  
    .leftMenu_side {
      width: 0;
    }
  
    .rightQR_side {
        width: 100%;
    }
  
    .menuOpen {
        width: 35%; /* Настроить ширину при открытии меню */
    }
  }
  